*{
    margin: 0px;
}
header{
    height: 100px;
    background-color: brown;
}
header ul li
{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
header  ul li a
{
    color:white;
}
section{
    height: 500px;
    background-color: cadetblue;
}

footer{
    height: 200px;
    background-color: brown;
}